/*div{
	display:inline-block;
}*/
.satu{
	width:200px;
	height: 200px;
	background-color:lightblue; 
	margin:50px 40px 30px 20px;
}
.dua{
	width:100px;
	height:100px;
	background-color:green;
}/*negatif margin akan maju ke balikan. namun untuk margin top elemen dibawahnya akan bergerak ke atas. untuk margin saja maka dihitung menjadi ditengah. margin untuk 4 nilai maka searah jarum jam*/
.tiga{
	width:50px;
	height:50px;
	background-color:red;
}