div{
	width: 	300px;
	height: 300px;
	background-color:lightgreen;
	margin:50px auto;
	/*box-shadow:inset 0px 0px 15px 5px rgba(0,0,0,0.5);*/
	box-shadow:0px 0px 0px 5px rgba(255, 0, 0, 0.5),
	0px 0px 0px 10px rgba(0,0,255,.5),
	0 0 0 15px yellow,
	0 0 0 20px purple;
	transition:.3s;
	border-radius:50%;
}
div:hover{
	box-shadow:0px 80px 10px -20px rgba(0,0,0,.15);
	margin-top:40px;
}