.container{
	width: 600px;
	border:1px solid black;
	margin:auto;
	padding:5px;
}
.clear{
	clear:right;
}
.kotak{
	width:80px;
	height:80px;
	color:white;
	margin:2px;
	float:right;
	text-align:center;
	line-height:80px;
	font-size:30px;
	background-color:black;
}
/*.container .kanan,.kiri,.tengah{
	float:left;
}
.kiri{
	height: 500px;
	width: 150px;
	padding:10px;
	box-sizing:border-box;/*untuk mengakali padding dikotak
	background-color:salmon;
}
.tengah{
	height: 500px;
	width: 500px;
	background-color:lightskyblue;
}
.kanan{
	height: 500px;
	width: 150px;
	background-color:lightgreen;
}*/